{% extends "paginas/modelo.html" %}

{% load static %}

{% block header %}{% endblock %}

{% block content %}
<div style="margin-top: 80px;"></div>
<h3>Lista de cidades registradas</h3>
<hr>
<div class="text-right mb-3">
    <a href="{% url 'add-cidade' %}" class="btn btn-primary">Cadastrar Nova Cidade</a>
</div>
<div class="table-responsive mt-4">
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Estado</th>
            <th>Opções</th>
        </tr>

        {% for cidade in object_list %}
        <tr>
            <td>{{ cidade.nome }}</td>
            <td>{{ cidade.estado }}</td>
            <td>
                <a href="{% url 'update-cidade' cidade.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                <a href="{% url 'delete-cidade' cidade.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhuma cidade registrada.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
