{% extends "paginas/modelo.html" %}

{% load static %}

{% block header %}{% endblock %}

{% block content %}
<div style="margin-top: 80px;"></div>
<h3>Lista de cidades registradas</h3>
<hr>
<div class="text-right mb-3">
    <a href="{% url 'add-cidade' %}" class="btn btn-primary">Cadastrar Nova Cidade</a>
</div>
<div class="table-responsive mt-4">
    <table class="table table-striped" id="tabela-cidades">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Estado</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
        {% for cidade in object_list %}
        <tr>
            <td>{{ cidade.nome }}</td>
            <td>{{ cidade.estado }}</td>
            <td>
                <a href="{% url 'update-cidade' cidade.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                <a href="{% url 'delete-cidade' cidade.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {% empty %}
        <tr class="d-none">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var table = $('#tabela-cidades').DataTable({
            responsive: true,
            "aaSorting": [],
            "pageLength": 10,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    // Continue com o restante da configuração
                }
            }
        });

        // Adiciona uma linha vazia se a tabela estiver vazia
        if (!table.data().any()) {
            table.row.add([
                '', '', ''
            ]).draw();
        }
    });
</script>
{% endblock %}
