{% extends "paginas/modelo.html" %}

{% load static %}
{% block header %}{% endblock %}
{% block content %}
<div style="margin-top: 80px;"></div>
<h3>Lista de porteiros registrados</h3>
<hr>
<div class="text-right mb-3">
    <a href="{% url 'add-porteiro' %}" class="btn btn-primary">Cadastrar Novo Porteiro(a)</a>
</div>
<div class="table-responsive mt-4">
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Turno</th>
            <th>Opções</th>
        </tr>

        {% for porteiro in object_list %}
        <tr>
            <td>{{ porteiro.nome }}</td>
            <td>{{ porteiro.turno }}</td>
            <td>
                <a href="{% url 'update-porteiro' porteiro.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                <a href="{% url 'delete-porteiro' porteiro.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum porteiro registrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
